@model Book[]

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if(Model.Length == 0)
{
    <h1>Ничего не найдено.</h1>
}
else
{
    <ul>
        @foreach(var book in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Book" , new { id = book.Id })">@book.Title</a>
            </li>
        }
    </ul>
}